.sign-in{
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


}


